/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/js/bf-admin.js
/public/js/ssmath.js
/public/css/app.css
/public/css/sites.css
/public/css/bootstrap.css
/public/.htaccess
